/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */
#container {
    width:600px ;
    background-color:#FCFAF4;
    margin:auto;
    padding:10px 15px 10px 15px;
    border:.1px solid #51473D;
    
    }
    
#topbar {
    background-color:#51473D;
    width:600px;
    height:200px;
    text-align:right;
    margin:auto;
    border-left:.5px solid #CECAB9;
    border-right:.5px solid #CECAB9;
    border-top:.5px solid #CECAB9;
    }
    
#maincontent {
    width: 400px;
    height: 40%;
    margin: 20px left;
    padding: 10px;
    border-left:.5px solid #CECAB9;
    border-bottom:.5px solid #CECAB9;
    background-color:#EAE7D2 ;
    color: #797066;
    
    
}    

/*font color #494620 background color #f7ea57 border color #c0b536*/