/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */
#container {
    width:543px ;
    height:1000px;
    background-color:#FCFAF4;
    margin:auto;
    padding:10px 20px 10px 20px;
    border:.1px solid #51473D;
    
    }
    
#topbar {
    background-color:#51473D;
    width:543px;
    height:200px;
    text-align:right;
    margin:auto;
    border-left:.5px solid #CECAB9;
    border-right:.5px solid #CECAB9;
    border-top:.5px solid #CECAB9;
    }
    
#maincontent {
    width: 300px;
    height: auto;
    float:left;
    padding: 10px;
    border-left:.5px solid #CECAB9;
    background-color:#EAE7D2 ;
    color: #797066;
}  

img { 
    float: left; 
    margin: 5px;
}

#subcontent {
    width: 200px;
    height:auto;
    float:right;
    padding: 10px;
    border-right:.5px solid #CECAB9;
    border-left:.5px dashed #CECAB9;
    background-color:#EAE7D2 ;
    color: #797066;
}

#bottomcontent {
    clear:both;
    width:543px;
    height:20px;
    border-right:.5px solid #CECAB9;
    border-left:.5px solid #CECAB9;
    border-bottom:.5px solid #CECAB9;
    background-color:#EAE7D2 ;
    color: #797066;
}
