/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */


#container {
    width:600px ;
    height:auto;
    background-color:#FCFAF4;
    margin:auto;
    padding:10px 20px 10px 20px;
    border:.1px solid #51473D;
    
    }


#topbar {
    background-color:#51473D;
    width:600px;
    height:200px;
    text-align:right;
    margin:auto;
    border-left:.5px solid #CECAB9;
    border-right:.5px solid #CECAB9;
    border-top:.5px solid #CECAB9;
    color:#EAE7D2;
    font-family:"verdana";
    font-size:.6em;
    font-style:oblique;
    }
    
#topbar::after {content:url(https://c9.io/jessicaklundqvist/uppgift-3-3/workspace/css/pics/coffey.jpg); 
                display:block; 
                width:400px; 
                height:170px; 
    }    

#menu{  background-color:#51473D;
        border-right:.5px solid #CECAB9;
        border-left:.5px solid #CECAB9;
        height:65px;
        width:600px;} 
        
{position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;}

#menu li{
        
        list-style-type:none;
        float:left;
        margin: 0 1px 6px 0;
        
}

#menu li.active a {background-color:#EAE7D2;
                   color:#797066;
            }


#menu a:link{color:#EAE7D2; 
             background-color:#797066;
             font-family:"verdana";
             font-size:.8em;
             text-transform:capitalize;
             text-decoration:none;
             padding: 10px 20px;}
#menu a:visited {color:#EAE7D2;}
/*#menu a:focus */
#menu a:hover {background-color:#9C9084;
              text-decoration:none;}

            

    
#maincontent {
    width: 329px;
    height: 350px;
    float:left;
    padding: 10px;
    border-left:.5px solid #CECAB9;
    background-color:#EAE7D2 ;
    color: #797066;
    line-height:19px;
}  


#maincontent img { 
    float: left; 
    margin: 5px;
}



#subcontent {
    width: 228px;
    height:350px;
    float:right;
    padding: 10px;
    border-right:.5px solid #CECAB9;
    border-left:.5px dashed #CECAB9;
    background-color:#EAE7D2 ;
    color: #797066;
    font-size: .8em;
    line-height: 20px;
}


#subcontent a:link {color:#797066; font-family:"verdana"; font-size:.9em;}
#subcontent a:visited {color:#51473D; }
#subcontent li{margin-left:-40px;}




#bottomcontent {
    clear:both;
    width:598px;
    height:20px;
    border-right:.5px solid #CECAB9;
    border-left:.5px solid #CECAB9;
    border-bottom:.5px solid #CECAB9;
    background-color:#EAE7D2 ;
    color: #797066;
    font-style:oblique;
    font-size:.7em;
}

body {
    background-color:#C1B3A4;}

ul{
    list-style-type:none;
}

h1 {
    font-size:1.5em;
    font-family: 'Times New Roman';
}

h2 {
    font-size:1.2em;
    font-family: 'Times New Roman';
}

p {
    font-size:.7em;
    font-family: "Verdana";
}




